@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/css";
@import "swiper/css/autoplay";
.my-swiper .swiper-slide {
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transitions */
  opacity: 0.5; /* Default opacity for non-focused slides */
  transform: scale(0.9); /* Shrink non-focused slides */
}

.my-swiper .swiper-slide-active {
  opacity: 1; /* Fully visible for the focused slide */
  transform: scale(1); /* Restore size for the focused slide */
}
